<!doctype html>
  <html lang="en-US" ng-app="myWebApp" ng-controller="MainController">
   <head>
     <meta charset="UTF-8">
     <title> {{first_name}} </title>

     <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

                                         <!-- DEPENDENCIES -->

     <!-- Angular module -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" type="text/javascript"></script>

     <!-- Module for NgRoute -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js" type="text/javascript"></script>

     <!-- Module to use for NgView, Ng-Switch, NgAnimate -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js" type="text/javascript"></script>

     <!-- Module for NgClick, NgHide -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js" type="text/javascript"></script>

     <!-- Angular Material module -->
     <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

     <!-- Angular NgTouch for phones -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js" type="text/javascript"></script>
   
     <!-- Angular ui-Bootstrap -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.js" type="text/javascript"></script>
    

                                          <!-- STYLES -->

     <!-- Bootstrap, first bc my style overrides some of bootstrap's -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 


     <link rel="stylesheet" type="text/css" href="styles/projects.css" />
   
     <!-- Font used across my website -->
     <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
     <!--  Font Ubuntu Mono for the Linux -->
     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
    
     <!--  CSS stylesheet for Main  -->
     <link rel="stylesheet" type="text/css" href="styles/main.css" />
      <!-- CSS for Home Page -->
     <link rel="stylesheet" type="text/css" href="styles/home.css" />
     <!--  CSS for Resume Page -->
      <link rel="stylesheet" type="text/css" href="styles/resume.css" />
      <!-- CSS for About Page -->
      <link rel="stylesheet" type="text/css" href="styles/about.css" />
      <!-- CCS for Entrance page -->
       <link rel="stylesheet" type="text/css" href="styles/entrance.css" />          

                                       <!-- CONTROLLERS -->
     <!-- Main Controller -->
     <script src="controllers/mainController.js"></script>
     <!-- Partial Controllers -->
     <script src="controllers/resume-controller.js"></script>
     <script src="controllers/about-controller.js"></script>
      <script src="controllers/projects-controller.js"></script>
      <script src="controllers/home-controller.js"></script>
       <script src="controllers/entrance-controller.js"></script>
  
   </head>

   <body>
      
      <div ng-hide="linux" class="toolbarStyle"> 
        <section id="name_slogan_container">  
          <span id="name"> {{first_name}}</span> <br>
          <span id="slogan"> Programmer and salsa dancer</span>
        </section>
        <!-- Note: Using id, so that I can change the their color when they are active/inactive -->
        <section  class="buttons_section"> 
          <a id="homeButton" class="buttons_style" ng-click="showHome()"> HOME</a>
          <a id="resumeButton" class="buttons_style" ng-click="showResume()"> RESUME</a>
          <a id="projectsButton" class="buttons_style" ng-click="showProjects()"> PROJECTS</a>
          <a id="contactButton" class="buttons_style" ng-click="showSkills()"> MISCELLANEOUS</a>  
        </section> 
      </div>
      <main ng-view class= "extend {{pageClass}}" ></main>
        
      <footer ng-hide="linux" id="footerStyle">

    <!--     <section id="footerWrapper"> -->

          <section class="footerElementContainer">
                  
            <img src="images/email.png" alt="email icon">
                  
            <section id="emailText">
              <p id="contactStyle"> Contact:</p>
              <p id="emailStyle">tranc2606@gmail.com</p>
            </section>   

          </section>
              
          <section class="footerElementContainer">
            <img src="images/plus.png" alt="plus icon">
            <div id="emailText">
              <p id="contactStyle"> Follow me: <br>
                <a href={{myTwitter}}><img class="iconHover" src="images/twitter.png" alt="twitter icon"></a>
                <a href={{myGitHub}}><img class="iconHover" src="images/github.png" alt="github icon"></a>
              </p>
            </div> 
          </section> 
      <!--   </section>   -->
      </footer>     
    </body>
  </html>

  <!-- 
    <script src="./node_modules/angular/angular.js" type="text/javascript" ></script> 
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script> 
    <script src="./node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./node_modules/angular-material/angular-material.js" type="text/javascript" ></script>
   -->
