<!doctype html>
  <html lang="en-US" ng-app="myWebApp" ng-controller="MainController">
   <head>
     <meta charset="UTF-8">
     <title> {{first_name}} </title>

     <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

                                         <!-- DEPENDENCIES -->

    

    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCKZdCvs-txHoE86LaRXN7O6HypomPDmfM",
    authDomain: "personalwebsite-23500.firebaseapp.com",
    databaseURL: "https://personalwebsite-23500.firebaseio.com",
    storageBucket: "personalwebsite-23500.appspot.com",
  };
  firebase.initializeApp(config);
</script>



     <!-- Angular module -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" type="text/javascript"></script>

     <!-- Module for NgRoute -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js" type="text/javascript"></script>

     <!-- Module to use for NgView, Ng-Switch, NgAnimate -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js" type="text/javascript"></script>

     <!-- Module for NgClick, NgHide -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js" type="text/javascript"></script>

     <!-- Angular Material module -->
     <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

     <!-- Angular NgTouch for phones -->
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js" type="text/javascript"></script>
   
     <!-- Angular ui-Bootstrap -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.js" type="text/javascript"></script>
    

                                          <!-- STYLES -->

     <!-- Bootstrap, first bc my style overrides some of bootstrap's -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 


     <link rel="stylesheet" type="text/css" href="styles/projects.css" />
   
     <!-- Font used across my website -->
     <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
    
     <!-- My CSS stylesheet for Main  -->
     <link rel="stylesheet" type="text/css" href="styles/main.css" />
      <!-- CSS for Home Page -->
     <link rel="stylesheet" type="text/css" href="styles/home.css" />
     <!--  CSS for Resume Page -->
      <link rel="stylesheet" type="text/css" href="styles/resume.css" />
                

                                       <!-- CONTROLLERS -->
     <!-- Main Controller -->
     <script src="controllers/mainController.js"></script>
     <!-- Partial Controllers -->
     <script src="controllers/resume-controller.js"></script>
     <script src="controllers/misc-controller.js"></script>
      <script src="controllers/projects-controller.js"></script>
      <script src="controllers/home-controller.js"></script>
  
   </head>

   <body>
      
      <div class="toolbarStyle"> 
        <section  flex layout="row" class="name_description">  
          <span id="name"> {{first_name}}</span> <br>
          <span id="slogan"> Quoran, fashion designer</span>
        </section>
         <!-- layout-sm="row" -->
        <section  flex layout="row"  class="buttons_section"> 
          <!-- Note:  Using id, so that I can change the color of the button to blue when active and back to black when inactive -->

          <a id="homeButton" class="buttons_style" ng-click="showHome()"> HOME</a>
          <a id="resumeButton" class="buttons_style" ng-click="showResume()"> RESUME</a>
          <a id="projectsButton" class="buttons_style" ng-click="showProjects()"> PROJECTS</a>
          <a id="contactButton" class="buttons_style" ng-click="showSkills()"> MISCELLANEOUS</a>  
        </section> 
      </div>
      <main ng-view class= "extend {{pageClass}}" ></main>
        
      <footer id="footerStyle">

        <section id="footerWrapper">

          <section id="elementDescription">
                  
            <img src="images/email.png" alt="email icon">
                  
            <section id="emailText">
              <p id="contactStyle"> Contact:</p>
              <p id="emailStyle">tranc2606@gmail.com</p>
            </section>   

          </section>
              
          <section id="elementDescription">
            <img src="images/plus.png" alt="plus icon">
            <div id="emailText">
              <p id="contactStyle"> Follow me: <br>
                <a href={{myTwitter}}><img class="iconHover" src="images/twitter.png" alt="twitter icon"></a>
                <a href={{myGitHub}}><img class="iconHover" src="images/github.png" alt="github icon"></a>
              </p>
            </div> 
          </section> 
        </section>  
      </footer>     
    </body>
  </html>

  <!-- 
    <script src="./node_modules/angular/angular.js" type="text/javascript" ></script> 
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script> 
    <script src="./node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./node_modules/angular-material/angular-material.js" type="text/javascript" ></script>
   -->
