/*--- It defines the background color for the whole page, font, etc*/
html, body{
	font-family: 'Noticia Text', serif;
	color: #4D4D4D !important;
	height: 100%;
	width: 100%;
	background-color: #EAE5E5;
}

/*.mainTheme{
	background-color: #EAE5E5;
	font-family: 'Noticia Text', serif;
	color: #4D4D4D;
}

*/

/*----------------------------   TOOLBAR STYLE   ---------------------------- */

/*--- This removes the default square-ripple effects you click on  an element ---*/
*:focus {
    outline: none;
}
/*--- Style for the toolbar ---*/
.toolbarStyle {
	display: flex;
	flex-shrink:1;
	margin-top: 10px;
	/*background-color: #EAE5E5;*/
	justify-content: flex-start;
	/*margin-left: 15%;
	margin-right: 15%; */
}

/*--- Style for the section where my and description show ---*/
.name_description{
   /*   padding-right: 60px;
      margin-top: 15px;
      margin-right: 50px;*/
	 /* color: #4D4D4D;*/
}
/*--- Style for just my name ---*/
#name{
	font-size: 43px;
	font-weight: bold;
}

/*--- Style for the test that shows below my name ---*/
#slogan{
	font-size: 18px;
	font-weight: bold;
}

/*--- Buttons wrapper/container---*/

.buttons_section{
	display: flex;
	font-size: 15px;
	align-items: center;
	margin-top: 10px;
}

/*--- ORIGINAL Buttons style ---*/
.buttons_style{
	padding: 10px;
	cursor:pointer;
	text-decoration:none;
}
/*--- When a button is visited ---*/
.buttons_style:visited{
	color: inherit;
}
/*--- When a button is hovered ---*/
.buttons_style:hover{
	color:#ff5c33;
}

/*--- MODIFIED Buttons style for when a button is clicked ---*/
.buttons_style2{
	padding: 10px;
	cursor:pointer;
	text-decoration:none;
	color: #ff5c33;
}
/*--- When a button is visited ---*/
.buttons_style2:visited{
	color: inherit;
}
/*--- When a button is hovered ---*/
.buttons_style2:hover{
	/*color: #61D0D4;*/
	color: #ff5c33;
}

/*-----------------------------   BODY STYLE   ---------------------------- */
                      /*(where other pages are inserted) */
.extend{
	min-height: 78%;
	/*min-width: 100%;*/
	background-color: #EAE5E5;
}



/*----------------------------   FOOTER STYLE   ---------------------------- */
#footerStyle{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:center;
	min-height: 8%;
	background-color:#ff704d;
	border-bottom: 20px;
	margin-top: 5px;
}




#footerWrapper{
	display: flex;
	flex-direction: row;
}

#elementDescription{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
}
#emailText{
	display: flex;
	margin-left: 5px;
	flex-direction: column;
	margin-right: 30px;
}

#contactStyle{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
}
#emailStyle{
	padding-top: 0px;
	margin-top: 0px;
	border-top: 0px;
	font-size: 10px;
}
.iconHover:hover{
	cursor: pointer;
}
#twitterIcon:hover{
	cursor: pointer;
}








 