
<div class="containerEntrance">
	<p class ="sty" id="first"> tranc26061.0$ login </p>
	<p class="sty" id="second">  Username: tuan2606 </p> 
  	<p class ="sty" id="third">Password: ******* </p>
	<p class ="sty" id="fourth">
 	<span class="red">tranc2606</span>@<span class="blue">tuancaraballo.com</span>:~$</span></p>
	<p class ="sty" id="fifth">  cat README.txt </p>
	<p class ="sty" id="sixth"> Hello there :-) ! My name is Tuan Anh Tran Caraballo. </p>
	<p class ="sty" id="sixth"> I'm a Computer Science major at Stanford University.</p>
	<p class ="sty" id="sixth"> This is my website 1.0. I built it in AngularJs.</p>
	<p class ="sty" id="sixth"> You can find the source code in my <a class="blue" href="https://www.github.com/tuancaraballo">GitHub</a></p>
	<p class ="sty" id="sixth"> You can type: "cat resume" to see my Resume or "cd mysite" </p>
	<p class ="sty" id="sixth"> To see my website or find out more about me</p>
	<p class ="sty" id="sixth"> Thank you for visiting :-) and Big hugs for you</p>
	<p class ="sty" id="sixth"> <input ng-model="command" id="textarea" ng-keydown="route($event)" autofocus type="text"> </p> 
	<div ng-if="incorrectInput" style="color:red;"> Command not found, Please type on of the following commands: 
		<ul>
			<li> cat resume</li>
			<li> cd mywebsite</li>
 	</div>
</div>
 