<section class="containerHome">
    
  <picture id="pictureStyle">
       <!-- NOTE: provide a fall back image, in case this one doesn't load, maybe a photo from quora or twitter -->
    <img src="images/photo.jpg" alt="profile photo" id="imageStyle">
  </picture>  

  <section class="rightDiv">
    <div>
    	<h1> Hello there!</h1>
   		<h2> A little about me: </h2>
   	</div>

   	<section class="roundDivsContainer">
   			
   		<!-- It should use the showResume defined in the parent -->
   		<div class= "circleButtonsStyle" id="resumeStyle" ng-click="showResume()">MY RESUME</div> 	
   		<div class= "circleButtonsStyle" id="workStyle" ng-click="showProjects()">MY PROJECTS</div>
      <div class= "circleButtonsStyle" id="skillStyle" ng-click="showSkills()">MORE</div>	
   	
    </section> 

   	<div id="paragraph">


       <p> My name is Antuan(Tuan). I'm a Computer Science major at Stanford University (2018) pursuing a concentration in Information. </p>     
       <p> As a technology enthusiast, I'm deeply interested in learning how technology can improve the lives of those in post-Communist economies. I led an effort to establish  <a href= "http://ideaproject.github.io/">Idea-Cuba</a>, an exchange program between Cuban and Stanford college students to collaborate on solutions to social issues using technology.</p>

       <p>I'm passionate about the growth of entrepreneurship in my home country, Cuba. I'm currently partnering with  <a href= "http://www.cubaemprendefoundation.org/" >Cuba-Emprende Foundation</a>to expose winners of <a href= "http://www.10x10kcuba.com/" >10x10kCuba</a> to Stanford and the Sillicon Valley. I aspire to turn my knowledge and skills into opportunities for my people in Cuba.</p>
       <p>

        <p>I'm also interested in philanthropy, particularly in finding the most effective ways to give. I currently serve on the Student Advisory Board of Giving Circles Fund, an organization led by <a href= "https://en.wikipedia.org/wiki/Laura_Arrillaga-Andreessen" >Laura Arrillaga. </a> I also lead the <a href= "https://givingcirclesfund.org/circle/95" >One Life One Hope </a>circle to help Syrian victims of war.</p> 
    
    <p>
       Fun fact about me: I'm a funny salsa (and reguetton) dancer :-) -a serum all Cuban babies receive when they are born :-) -. </p>
      
     
    </div>

  </section> 	
</section>

