<section class="containerHome">
    
  <picture id="pictureStyle">
       <!-- NOTE: provide a fall back image, in case this one doesn't load, maybe a photo from quora or twitter -->
    <img src="images/photo.jpg" alt="profile photo" id="imageStyle">
  </picture>  

  <section class="rightDiv">
    <div>
    	<h1> Hello there!</h1>
   		<h2> A little about me: </h2>
   	</div>

   	<section class="roundDivsContainer">
   			
   		<!-- It should use the showResume defined in the parent -->
   		<div id="resumeStyle" ng-click="showResume()">MY RESUME</div> 	
   		<div  id="workStyle" ng-click="showProjects()">MY PROJECTS</div>
      <div  id="skillStyle" ng-click="showSkills()">MISCELLANEOUS</div>	
   	
    </section> 

   	<p id="paragraph">
      My name is Tuan Anh Tran Caraballo. I'm a computer science major at Stanford University, CA. I'm pursing a concentration in Human Computer Interaction (HCI). I was originally a Biology major, but switched to CS during 
      my senior year. I'm graduating in 2018. <br>
      I was born and raised in Cuba and migrated to the U.S. about 5 years ago. Being from Cuba, I'm also a salsa dancer. That's a skill we all Cubans learn at a very early age :-). 
      One of the most important things that drives is increasing educational and business opportunities in my home country.
      I plan to go back in the future to help rebuild my country. My family still lives there.
      Check out my projects/ resume/ or About me is you would like to know a bit more who this guy is.
      Thank you for visiting and big hugs for you 
    </p>

  </section> 	
</section>

