<section class="moreContainer">

	<section> 
  		<h2>
  			My Journey
  		</h2>

  		<i> Currently working on this, will be up soon, but check these in the meanwhile </i>

      <li href="http://www.oregonlive.com/gresham/index.ssf/2013/06/a_cuban_refugee_will_take_an_a.html"> The Oregonian </li>
       <li href="http://portlandtribune.com/go/42-news/154866-in-pursuit-of-a-childhood-dream"> Gresham Outlook  </li>


  </section>	

  <section> 
  		<h2>
  			Hobbies
  		</h2>

  		<ul>
  			<li>Reading: I like books about personal growth, front end technologies, and biographies.</li>
  			<li> Chess: I'm a big chess fan, if you are too, send me a friend request on lichess.com</li>
        <li> Dancing: I like dancing pretty much anything. I love Latin music such as salsa, regueton, bachata, merengue, etc </li>
        <li> Writing on Quora: Quora is one of the few apps I have on my phone. I usually like to share my knowledge about college admissions and about traveling to Cuba <li>
  			<li> Fishing: This was my last catch in mid-September in the Columbia River, OR. This was a 5 lb baby sturgeon; it was too small to keep. </li> <br>

          <img src="images/fish2.png" alt="Fish " height="300" width="400"> 
          <img src="images/fish0.png" alt="Fish " height="400" width="300">
          
  		</ul>		

  </section>

    <section> 
      <h2>
        Book Currently reading:
      </h2>

      <li>"The Tipping Point" by Malcolm Gladwell. I will post a short summary once I finish it. <i> September 30th, 2016 </i> </li>

  </section>  	

  <section> 
  		<h2>
  			People who inspire me:
  		</h2>

  		<ul>
  			<li> Helen Keller</li>
  			<li> Pepe Mujica</li>
  			<li> Prabhat Ranjan Sarkar</li>
  			<li> Jiddhu Krishnamurti</li>
  			<li> Bruce Lee </li>
  			<li> Haile Selassie </li>
			
  		</ul>		

  </section>	


</section>
