<div class="centeBox">

	<section> 
  		<h2>
  			My Journey
  		</h2>

  		<p> Add my journey here </p>
  	</section>	
    
    <hr>

    <section> 
  		<h2>
  			Book Currently reading
  		</h2>

  		<p> I'm currently reading "The Tipping Point" by Malcolm Gladwell. Will post a short summary once I finish it. <i> September 30th, 2016 </i> </p>

  	</section>	

  	<hr>

  	 <section> 
  		<h2>
  			Hobbies
  		</h2>

  		<ul>
  			<li>Reading: I like books about personal growth, front end technologies, biographies. Since spring quarter of 2016, I have replaced TV and social media with reading, a habit most young people in Cuba used to have due to lack of intenet access and TV</li>
  			<li> Chess: I'm a great chess fan. I usually play on lichess.com </li>
  			<li> Fishing: I do fresh water. Most of the time, I fish in the Columbia River in Oregon. Highly recommend it, I have caught sturgeons a couple of times  (always return them) </li>

  		</ul>		

  	</section>	

  	  	 <section> 
  		<h2>
  			People who inspire me or I look up to:
  		</h2>

  		<ul>
  			<li> Helen Keller</li>
  			<li> Pepe Mujica</li>
  			<li> Prabhat Ranjan Sarkar</li>
  			<li> Jiddhu Krishnamurti</li>
  			<li> Bruce Lee </li>
  			<li> Haile Selassie </li>
			
  		</ul>		

  	</section>	



</div>
