
<div class="containerProjects">

	<section class="centerBox">
		<h1 id="titleProjects"> PROJECTS</h1> (not finished with this section, check resume)
		<div id="Line1"> </div>
		
	 <section class="containerForOneProject">
			<!-- <div style="width=250px height: 177px"> -->
			<!-- This style doesn't really matter, but the actual size of the photo -->
			<div style="align-self:center;">
    		<div uib-carousel active="heapActive" interval="heapInterval" no-wrap="heapNoWrapSlides">
      		<div uib-slide ng-repeat="heapSlide in heapSlides" index="heapSlide.id">
        		<img ng-src="{{heapSlide.image}}" style="margin:auto;">
        			<div class="carousel-caption">
         			  <!-- <h4>Slide {{slide.id}}</h4>
          			<p>{{slide.text}}</p> -->
        			</div>
      		</div>
    		</div>
  		</div>

  		<section class="projectInfo">
  				
  			<div class="titleCircle">
  				Project | 01
  			</div>	

  			<h5 class="projectTitle"> <strong> Project | 01 Heap Allocator </strong> <h5/>

        <ul style="max-width: 90%">
          <li class="projectListItem">
             This is the final project for the popular course CS107, taught at Stanford. I built a heap allocator; implemented the functions malloc, free and realloc.
          </li>
          
          <li class="projectListItem">
              I designed the allocator using segragated linked lists of free memory. I divided free blocks in three group sizes: small, medium and large and stored in a table, giving it a dynamic design. When memmory was requested, the allocator would first check the cached blocks before extending the heap. If a cached block was too big compared to the requested size, the allocator would split it, but before adding the remaining to the table, it checked if its left and right neighbors were free to coalesce them.
          </li>   
          
          <li class="projectListItem">
              Each free block contained a header and a footer structure to store size and status. This way the allocator would know the exact location of the contiguous neighbors before coalescing them
          </li>  

           <li class="projectListItem">
              The most important lessons I learned on this project was how the heap works. Similarly, I developed a strong foundation on the use of pointers and pointer arithmatic. However, I would say the most valuable lessons was "paying attention to small details and staying consistent with my code" and in order to stay consistent, first I must spend time designing on paper, before writing any code. This has been one of the most challenging, yet most rewarding projects I have worked on
          </li>  


       </ul>
    
  		
      </section>	

    </section>
	   
	 <div id="Line1"> </div>
   <section class="containerForOneProject">
      <!-- <div style="width=250px height: 177px"> -->
      <!-- This style doesn't really matter, but the actual size of the photo -->
      <div style="align-self:center;">
        <div uib-carousel active="unagiActive" interval="unagiInterval" no-wrap="unagiNoWrapSlides">
          <div uib-slide ng-repeat="unagiSlide in unagiSlides" index="unagiSlide.id">
            <img ng-src="{{unagiSlide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <!-- <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p> -->
              </div>
          </div>
        </div>
      </div>

      <section class="projectInfo">
          
        <div class="titleCircle">
          Project | 02
        </div>  

        <h5 class="projectTitle"> <strong> Project | 02 Unagi Task Manager </strong> <h5/>

       <!--  <section style="font-size:13px">   -->
       <ul>
          <li class="projectListItem">
              I built a Task Manager for Android. I developed this app while at an Android BootCamp at Twitter headquarters (Thank you much Twitter!). Unagi's purpose is to help individuals stays productive with the help of a social twist.
          </li>

          <li class="projectListItem">
              Whenever the user posts a task, this gets posted to her Twitter account, holding the person accountable for it. When the task is either finished or not completed on time, the app posts to the user's Twitter. There is no an option to delete tasks.
          </li> 
   
          <li class="projectListItem">
              I used Twitter's Fabric API for the login portion as well as for the posting. Similarly, for the list of activities I used RecyclerView instead of ListView.
          </li>  
        </ul>
      
      </section>  

    </section>

    <div id="Line1"> </div>


    <section class="containerForOneProject">
      <!-- <div style="width=250px height: 177px"> -->
      <!-- This style doesn't really matter, but the actual size of the photo -->
      <div style="align-self:center;">
        <div uib-carousel active="photoActive" interval="photoInterval" no-wrap="photoNoWrapSlides">
          <div uib-slide ng-repeat="photoSlide in photoSlides" index="photoSlide.id">
            <img ng-src="{{photoSlide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <!-- <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p> -->
              </div>
          </div>
        </div>
      </div>

      <section class="projectInfo">
          
        <div class="titleCircle">
          Project | 03
        </div>  

        <h5 class="projectTitle"> <strong> Project | 03 Photo Sharing App </strong> <h5/>

       <!--  <section style="font-size:13px">   -->
       <ul>
          <li class="projectListItem">
              This is a Photo-Sharing App, sort of like a mini Instagram. I built it using MEAN Stack( MongoDB, Express, Angular, NodeJs) in addition to CSS and HTML and some Material Design.
         </li>

          <li class="projectListItem">
              Main functionalities included: - Registering a new user: Logging in and logging out, upload and post photos, post Comments, Like a photos and show how many likes each photo has, see the most recent added photo, see the most commented photo, see user's current activity, an Activities feed that allow you to see all users' actions.
          </li> 
   
          <li class="projectListItem">
              
            <a href="https://youtu.be/lcGiz1JiVeI">  Watch a walkthrough of my app here </a>
          </li>  
        </ul>
      
      </section>  

    </section>


        <div id="Line1"> </div>


    <section class="containerForOneProject">
      <!-- <div style="width=250px height: 177px"> -->
      <!-- This style doesn't really matter, but the actual size of the photo -->
      <div style="align-self:center;">
        <div uib-carousel active="pyxisActive" interval="pyxisInterval" no-wrap="pyxisNoWrapSlides">
          <div uib-slide ng-repeat="pyxisSlide in pyxisSlides" index="pyxisSlide.id">
            <img ng-src="{{pyxisSlide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <!-- <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p> -->
              </div>
          </div>
        </div>
      </div>

      <section class="projectInfo">
          
        <div class="titleCircle">
          Project | 04
        </div>  

        <h5 class="projectTitle"> <strong> Project | 04 Pyxis Explorer </strong> <h5/>

       <!--  <section style="font-size:13px">   -->
       <ul>
          <li class="projectListItem">
              This is an ongoing summer project, still under development. Pyxis is the modern "brújula". It allows users to know what's going on around them such as location, weather, local news, local events, meet-ups, places of interest classified by entertainment, night life, historical, etc.
         </li>

          <li class="projectListItem">
              Pyxis uses/will be using the following APIs: Google Play Services Apis, Yelp, OpenWeatherMap, EventBrite and New York Times.
          </li> 
        </ul>
      
      </section>  

    </section>

  </section> 		  
</div>
