
<div class="containerProjects">

	<section class="centerBox">
		<h1 id="titleProjects"> PROJECTS</h1> (not finished with this section, check resume)
		<div id="Line1"> </div>
		
	    <section class="containerForOneProject">
			<!-- <div style="width=250px height: 177px"> -->
			<!-- This style doesn't really matter, but the actual size of the photo -->
			<div>
    			<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      				<div uib-slide ng-repeat="slide in slides" index="slide.id">
        				<img ng-src="{{slide.image}}" style="margin:auto;">
        				<div class="carousel-caption">
         					<h4>Slide {{slide.id}}</h4>
          					<p>{{slide.text}}</p>
        				</div>
      				</div>
    			</div>
  			</div>

  			<section class="projectInfo">
  				
  				<div class="titleCircle">
  						Project | 01
  				</div>	

  				<h5 class="projectTitle"> <strong> Project | 01 Heap Allocator </strong> <h5/>

  				<p> This is My Heap Allocator Project, add description and upate the pictures </p>

  			</section>	
       </section>
	   
	   <div id="Line1"> </div>

	       <section class="containerForOneProject">
			<!-- <div style="width=250px height: 177px"> -->
			<!-- This style doesn't really matter, but the actual size of the photo -->
				<div>
    				<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      					<div uib-slide ng-repeat="slide in slides" index="slide.id">
        					<img ng-src="{{slide.image}}" style="margin:auto;">
        					<div class="carousel-caption">
         						<h4>Slide {{slide.id}}</h4>
          						<p>{{slide.text}}</p>
        					</div>
      					</div>
    				</div>
  				</div>

  				<section class="projectInfo">
  				
  					<div class="titleCircle">
  						Project | 02
  					</div>	

  					<h5 class="projectTitle"> <strong> Project | 02 Pryxis</strong> <h5/>

  					<p> Pryxis, add description and change puppy pictures </p>

  				</section>	
       		</section>

       	   <div id="Line1"> </div>

	       <section class="containerForOneProject">
			<!-- <div style="width=250px height: 177px"> -->
			<!-- This style doesn't really matter, but the actual size of the photo -->
			<div>
    			<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      				<div uib-slide ng-repeat="slide in slides" index="slide.id">
        				<img ng-src="{{slide.image}}" style="margin:auto;">
        				<div class="carousel-caption">
         					<h4>Slide {{slide.id}}</h4>
          					<p>{{slide.text}}</p>
        				</div>
      				</div>
    			</div>
  			</div>

  			<section class="projectInfo">
  				
  				<div class="titleCircle">
  						Project | 03
  				</div>	

  				<h5 class="projectTitle"> <strong> Project | 03 Photo sharing app</strong> <h5/>

  				<p> Photo sharing app, add description and change photos</p>

  			</section>	
       </section>




     </section> 	
	
  
</div>


<!-- Conversion: 401  : 250 px -->