<section class="containerResume">

<!-- DISCLAIMER: see resume.css to see the rationale behind my containers -->

	<h1 id="titleProjects"> RESUME</h1> 

	<section class="containerForInformationVsSkills">

		<section class="resumeSectionContainer">
			
			<section ng-repeat="dataSet in resumeDataSet">  
				<div id="Line1"> </div>

				<section class="circleAndTextContainer">				
					<div class="titleCircle-Resume">
						{{dataSet.sectionTitle}}
					</div>

					<section class="containerForText">
						<section ng-repeat="job in dataSet.data">						
								<h4 id="jobTitle"> {{job.title}} </h4>    
								<h4 id="period"> {{job.period}}</h4>						
							<p class="resumeTextFont"> {{job.description}} </p>
						</section>
					</section>	
				</section>

			 </section>

        </section>
	
        <section class="skills">
        	<img class="iconHover" src="icons/book50.png" alt="book icon">
        	<h4>Technical Skills</h4>
        	

        	<ul class="no_bullet">  
        			<li  ng-repeat="skill in skills" class="icons" style="background: url({{skill.url}}) no-repeat left center;"> {{skill.title}} </li>
        	</ul>	

        	</br><br>
        	<img class="iconHover" src="icons/lang150.png" alt="github icon">
        	<h4>Languages</h4>
        	<ul class="no_bullet">  
        			<li  ng-repeat="language in languages" class="icons" style="background: url({{language.url}}) no-repeat left center;"> {{language.title}} </li>
        	</ul>	


         </section>
        
	</section>

    <h5> Learn more about </h5>
    <ul>
		<li><a href="http://www.10x10kcuba.com/"> 10x10KCuba project </a></li>
		<li><a href="http://ideaproject.github.io/"> Interdisciplinary Exchange of the Americas - Cuba </a></li>
	</ul>
</section>
