<section class="containerResume">

<!-- DISCLAIMER: see resume.css to see the rationale behind my containers -->

	<h1 id="titleProjects"> RESUME</h1> 

	<section class="containerForInformationVsSkills">

		<section class="resumeSectionContainer">
			
			<section ng-repeat="dataSet in resumeDataSet">  
				<div id="Line1"> </div>

				<section class="circleAndTextContainer">				
					<div class="titleCircle-Resume">
						{{dataSet.sectionTitle}}
					</div>

					<section class="containerForText">
						<section ng-repeat="job in dataSet.data">
							<h4>{{job.title}}</h4>
							<p class= "resumeTextFont"> {{job.description}} </p>
						</section>
					</section>	
				</section>

			 </section>

        </section>
	
        <section>
        	<img class="iconHover" src="icons/book50.png" alt="github icon">
        	<h4>Technical Skills</h4>
        	<ul class="resumeTextFont">
        		<li ng-repeat="skill in skills" > 
                 <img src="icons/android15.png"> {{skill}} </li>
        	</ul>	

            </br><br>
        	<img class="iconHover" src="icons/lang150.png" alt="github icon">
        	<h4>Languages</h4>
        	<ul class="resumeTextFont">
        		<span ng-repeat="skill in skills" > {{skill}} <br></span>
        	</ul>	

         </section>
        
	</section>
	
</section>
