.containerHome{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
/*	background-color: #EAE5E5;*/
/*	font-family: 'Noticia Text', serif;
	color: #4D4D4D;*/
/*	padding: 0px;*/
	min-width: 100%;
	
}



/*.containerHome.ng-enter {
  transition: 1.5s linear all;
  opacity:0;
}

 The finishing CSS styles for the enter animation 
.containerHome.ng-enter.ng-enter-active {
  opacity:1;
}*/


.containerHome.ng-enter {
	-webkit-animation:fadein 2s both ease-in;
	-moz-animation:fadein 2s both ease-in;
	animation:fadein 2s both ease-in;   
}

/* The finishing CSS styles for the enter animation 
.containerHome.ng-enter.ng-enter-active {
  opacity:1;
}
*/
.containerHome.ng-leave {
  webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

#pictureStyle{
	flex-shrink:1;
	margin-left: 15%;
	margin-top: 80px;
}

#imageStyle{
	flex-shrink:1;
	width:380px;
	height:380px; 
	border-radius: 50%;
}

.rightDiv{
	flex: 0 100% auto;
	display: flex;
	flex-direction: column;
	flex-shrink:1;
	margin-left: 5%;
}

h1{
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 35px;
}
.roundDivsContainer{
	flex: 0 100% auto;
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
	flex-direction: row;

}


#resumeStyle{
	flex-shrink:1;
	cursor:pointer;
	background-color: #ff704d;
	float: left;
	width:130px;
	height:130px; 
	border-radius: 50%;
	color: white;
	margin: 10px;

	text-align: center;
	vertical-align: middle;
	line-height: 130px

}
#resumeStyle:hover{
	background-color:#ff5c33;
}

#workStyle{
	flex-shrink:1;
	cursor:pointer;
	background-color: #ff3300;
	float: left;
	width:130px;
	height:130px; 
	border-radius: 50%;
	color: white;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 130px
}
#workStyle:hover{
	background-color:#e62e00;
}


#skillStyle{
	flex-shrink:1;
	cursor:pointer;
	background-color: #cc2900;
	float: left;
	width:130px;
	height:130px;
	text-size: 10px; 
	border-radius: 50%;
	color: white;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 130px
}

#skillStyle:hover{
	background-color: #b32400;
}

#paragraph{
	max-width: 500px;
	flex-shrink:1;
	margin-top: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
}
