


/*  
 ContainerResume:
   |		    Content: 2 sections:  RESUME TITLE and ContainerInfoNSkills;
   |		Orientation: vertically
   |
   |- - - RESUME
   |
   |- - - ContainerInfoNSkills:
	    |		       Content: 2 sections: resumeSectionContainer and Skills;  
		|		   Orientation: horizontally
    	|
   		|- - - resumeSectionContainer:
   	    |	     |        Content: 2 sections: Line Break and CircleAndText;
   		|        |    Orientation: vertical
        |        | 
        |        |- - -  LINE BREAK
        |		 |
        |		 |- - -  CircleAndText: 
        |		 		|  	        Content: 2 sections: Circle and text;
        |				|       Orientation: horizontal
        |				|
		|				|- - - Circle:
		|				|			 Content: 1 section, just the circle, no orientation  requireed;
        |				|		 Orientation: don't add CSS style for orientation since it's only a div;
        |		    	|	
        |               |
        |		        |- - - TEXT:
        |					         Content: 1 section, just text
        |					     Orientation: vertically
        |       
        |- - - SKILLS
        	       	Content: 1 section;
        	    Orientation: vertically;
 */

.containerResume{
	display: flex;
	/*justify-content:flex-start;*/
	justify-content:center;
	flex-direction: column;
	margin-left: 8%;
	margin-right: 5%;
	margin-bottom: 10%;
/*	splay: flex;
	min-width: 100%;
*/}

/*  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #EAE5E5;
/*  font-family: 'Noticia Text', serif;
  color: #4D4D4D;*/
/*  padding: 0px;
  min-width: 100%;*/


.containerResume.ng-enter {
  -webkit-animation:fadein 2s both ease-in;
  -moz-animation:fadein 2s both ease-in;
  animation:fadein 2s both ease-in;   
}



/*--- When the view leaves animations*/
.containerResume.ng-leave{
  -webkit-animation:slideOutLeft 1s both ease-in;
  -moz-animation:slideOutLeft 1s both ease-in;
  animation:slideOutLeft 1s both ease-in;  
}

/*--- slide out to the left ---*/
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



/*--- Container that holds the information section on the left
      and the skills section on the right*/
.containerForInformationVsSkills{
	display: flex;
	justify-content: flex-start;
	flex-direction: row;

	
}

.resumeSectionContainer{
	max-width: 80%;
/*	justify-content: flex-start;*/
	flex-direction: column;
	margin-right: 5em;
}



/*--- Container that contains  the Circle and the Text horizontally ---*/
.circleAndTextContainer{
	display: flex;
	flex-direction: row;
}

/*--- Container for the Text Description ---*/
.containerForText{
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin-left: 2em;
}


/*--- Orange Circle that embeds the titles ---*/
.titleCircle-Resume{
   background-color: #FF704D;
   width: 120px !important;
   height: 120px !important; 
   border-radius: 50% !important;
   text-align: center;
   vertical-align: middle;
   line-height: 120px;
   color: white;
   text-decoration: bold;
}


/*--- Removes the bullet from default, for the list ---*/
ul.no_bullet {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 13px;
}
li.icons{
    margin: 10px 0; /* not needed, just to add space between the li's */
    list-style: none; /* Get rid of the default bullet points */
    padding-left: 25px; /* Offsets the text. Needs to be at least the width of your image */
    line-height: 20px; /* Might have to play with this value a bit */

}

