.containerHome{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: #EAE5E5;
	font-family: 'Noticia Text', serif;
	color: #4D4D4D;
	padding: 0px;
	max-height: 100%;
	
}
#pictureStyle{
	flex-shrink:1;
	margin-left: 15%;
	margin-top: 80px;
}

#imageStyle{
	flex-shrink:1;
	width:380px;
	height:380px; 
	border-radius: 50%;
}

.rightDiv{
	flex: 0 100% auto;
	display: flex;
	flex-direction: column;
	flex-shrink:1;
	margin-left: 5%;
}

h1{
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 35px;
}
.roundDivsContainer{
	flex: 0 100% auto;
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
	flex-direction: row;

}


#resumeStyle{
	flex-shrink:1;
	cursor:pointer;
	background-color: #ff704d;
	float: left;
	width:130px;
	height:130px; 
	border-radius: 50%;
	color: white;
	margin: 10px;

	text-align: center;
	vertical-align: middle;
	line-height: 130px

}
#resumeStyle:hover{
	background-color:#ff5c33;
}

#workStyle{
	flex-shrink:1;
	cursor:pointer;
	background-color: #ff3300;
	float: left;
	width:130px;
	height:130px; 
	border-radius: 50%;
	color: white;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 130px
}
#workStyle:hover{
	background-color:#e62e00;
}


#skillStyle{
	flex-shrink:1;
	cursor:pointer;
	background-color: #cc2900;
	float: left;
	width:130px;
	height:130px;
	text-size: 10px; 
	border-radius: 50%;
	color: white;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 130px
}

#skillStyle:hover{
	background-color: #b32400;
}

#paragraph{
	max-width: 500px;
	flex-shrink:1;
	margin-top: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
}
