.containerHome{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	min-width: 100%;
	margin-right: 15%;
	
}



/*-- Animation when it enters --*/

.containerHome.ng-enter {
	-webkit-animation:fadein 1s both ease-in;
	-moz-animation:fadein 1s both ease-in;
	animation:fadein 1s both ease-in;   
}



/*-- Animation when it leaves --*/
.containerHome.ng-leave {
  webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}

/*------- FRAMES FOR FADE IN AND DROP ---*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/*------- END OF FRAMES ---*/
#pictureStyle{
	flex-shrink:1;
	margin-left: 15%;
	margin-top: 5.5%;

}

/*--- Style for the silly photo ---*/

#imageStyle{
	flex-shrink:1;
	width:  93%;
	height: 93%; 
	border-radius: 50%;
}

/*--- Style for the right container --*/
.rightDiv{
	flex: 0 100% auto;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	margin-left: 5%;
}
/*--- Font size for the title ---*/
h1{
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 35px;
}

/*--- Style for the Circle Buttons COntainer---*/
.roundDivsContainer{
	flex: 0 100% auto;
	display: flex;
	margin-top: 3%;
	flex-wrap: wrap;
	flex-direction: row;

}

/*-- Style for the Circles Buttons ---*/

.circleButtonsStyle{
	flex-shrink: 1;
	cursor: pointer;
	background-color: #ff704d;
	float: left;
	width:130px;
	height:130px; 
	border-radius: 50%;
	color: white;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 130px
}

/*-- Hover --*/
#resumeStyle:hover{
	background-color:#ff5c33;
}

#workStyle:hover{
	background-color:#e62e00;
}

#skillStyle:hover{
	background-color: #b32400;
}

/*-- Paragraph with description --*/
#paragraph{
	max-width: 500px;
	flex-shrink:1;
	margin-top: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
}
