html, body{
	font-family: 'Noticia Text', serif;
	color: #4D4D4D !important;
	height: 100%;
	background-color: #EAE5E5;
}

/*-- Disables the ripple effect when you click on a button --*/
*:focus {
    outline: none;
}
/*-- Toolbar --*/
.toolbarStyle {
	display: flex;
	flex-shrink:1;
	flex-direction: row;	
	justify-content: center;
	flex-wrap: wrap;
	min-height: 10%;
/*	margin-left: 15%;
	margin-right: 15%;*/
	margin-top: 1.5%;
}

/*-- Name and slogan container --*/
#name_slogan_container{
    margin-right: 8%;
}

/*-- My name --*/
#name{
	font-size: 300%;
	font-weight: bold;
}
/*-- Programmer and salsa dancer --*/
#slogan{
	font-size: 130%;
	font-weight: bold;
}


/*-- Buttons section style --*/
.buttons_section{
	display: flex;
	font-size: 98%;
	justify-content: flex-start;
	align-items: center;
	/*margin-top: 2%;*/
}

/*--  Styles for buttons when they are inactive --*/
.buttons_style{
	padding: 5%;
	cursor:pointer;
	font-size: 108%;
/*	text-decoration:none;*/
}

.buttons_style:visited{
	color: inherit;
}
.buttons_style:hover{
	color:#ff5c33;
}

/*-- Styles for buttons when they are active --*/
.buttons_style2{
	padding: 4%;
	cursor:pointer;
/*	text-decoration:none;*/
	color: #ff5c33;
}
.buttons_style2:visited{
	color: inherit;
}
.buttons_style2:hover{
	color: #ff5c33;
}



/*-- This is the ngView that includes the other pages --*/
.extend{
	min-height: 78%;
}



/*-- Footer style, --*/
#footerStyle{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:center;
	min-height: 8%;
	background-color:#ff704d;
	/*border-bottom: 20px;*/
}
/*
#footerWrapper{
	display: flex;
	flex-direction: row;
}*/

/*-- Container for Email of Twittter/Github --*/
.footerElementContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
}

/*-- Email shown on the text area --*/
#emailText{
	display: flex;
	margin-left: 1%;
	flex-direction: column;
	margin-right: 30px;
}
/*-- Contact style container used to embed the plus sign plus twitter --*/
/*-- or the email icon plus the email itslef --*/
#contactStyle{
	font-size: 80%;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
}
/*-- Style specificaly for the email portion --*/
#emailStyle{
	padding-top: 0px;
	margin-top: 0px;
	border-top: 0px;
	font-size: 80%;
}

/*-- Icons hover style--*/
.iconHover:hover{
	cursor: pointer;
}
#twitterIcon:hover{
	cursor: pointer;
}

 