html, body{
	font-family: 'Noticia Text', serif;
	color: #4D4D4D !important;
	height: 100%;
	background-color: #EAE5E5;
	/*padding: 0px;
*/	
}
*:focus {
    outline: none;
}

.toolbarStyle {
	background-color: #EAE5E5;
	display: flex;
	flex-shrink:1;
	flex-direction: row;	
	justify-content: center;
	flex-wrap: wrap;
	min-height: 10%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 1.5%;
}


#name{
	font-size: 43px;
	font-weight: bold;
}

.name_description{
      padding-right: 60px;
      margin-top: 15px;
	  color: #4D4D4D;
}



.extend{
	min-height: 78%;
	background-color: #EAE5E5;
}
#slogan{
	font-size: 18px;
	font-weight: bold;
}

.buttons_section{
	display: flex;
	font-size: 15px;
	align-items: center;
	margin-top: 10px;
}


.buttons_style{
	padding: 10px;
	cursor:pointer;
	text-decoration:none;
}

.buttons_style:visited{
	color: inherit;
}
.buttons_style:hover{
	/*color: #61D0D4;*/
	color:#ff5c33;
}

/**/
.buttons_style2{
	padding: 10px;
	cursor:pointer;
	text-decoration:none;
	/*color:#61D0D4; */
	color: #ff5c33;
}
.buttons_style2:visited{
	color: inherit;
}
.buttons_style2:hover{
	/*color: #61D0D4;*/
	color: #ff5c33;
}

#footerStyle{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:center;
	min-height: 8%;
	background-color:#ff704d;
	border-bottom: 20px;
}

#footerWrapper{
	display: flex;
	flex-direction: row;
}

#elementDescription{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: white;
}
#emailText{
	display: flex;
	margin-left: 5px;
	flex-direction: column;
	margin-right: 30px;
}

#contactStyle{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
}
#emailStyle{
	padding-top: 0px;
	margin-top: 0px;
	border-top: 0px;
	font-size: 10px;
}
.iconHover:hover{
	cursor: pointer;
}
#twitterIcon:hover{
	cursor: pointer;
}

 