
/*---Outside wrapper that allows the Box defined below to be centered---*/
.containerProjects{
	display: flex;
	justify-content:flex-start;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10%;
}


/*.containerProjects.ng-enter{
  -webkit-animation:slideInRight 1.5s both ease-in;
	-moz-animation:slideInRight 1.5s both ease-in;
	animation:slideInRight 1.5s both ease-in;   
}
*/

/*--- The starting sate of the animation when the view enters ---*/
.containerProjects.ng-enter {
  transition: 1.7s linear all;
  opacity:0;
}

/*--- The finishing CSS styles for the enter animation ---*/
.containerProjects.ng-enter.ng-enter-active {
  opacity:1;
}

/*--- When the view leaves animations*/
.containerProjects.ng-leave{
	-webkit-animation:slideOutLeft 1s both ease-in;
	-moz-animation:slideOutLeft 1s both ease-in;
	animation:slideOutLeft 1s both ease-in;  
}

/*--- slide out to the left ---*/
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}


/*---Box that holds all elements---*/
.centeBox{
	display: flex;
	justify-content:center;
	flex-direction: column;
}
/*---For the Projects Title---*/
#titleProjects{
	font-size: 50px;
	font-weight: bold;
}

/*--- Horizontal line, <hr> tag did not work, so I used this variant ---*/
#Line1{
	background-color: #4D4D4D;
	margin-top: 2em;
	margin-bottom: 2em;
	height: 1px;
	width: 100%;
}

/*--- Container for just one project ---*/
.containerForOneProject{
	display: flex;
	justify-content: flex-start;
}

/*--- Container for the info section/right-column ---*/
.projectInfo{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin-left: 4em; 
}
/*--- For the Circle background for titles ---*/
.titleCircle{
   background-color: #61D0D4;
   width: 90px;
   height: 90px; 
   border-radius: 50%;
   text-align: center;
   vertical-align: middle;
   line-height: 90px;
   color: white;
   text-decoration: bold;
}
/*--- For horizontal line that's between circle and text ---*/
#Line2{
	background-color: #4D4D4D;
	margin-top: 1em;
	margin-bottom: 1em;
	height: 1px;
	width: 100%;
}




